ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0%;
  padding: 0%;
}
img {
  display: block;
  /* max-width: 100%; */
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;

  max-width: 1200px;
}

.header {
  background-color: #3f51b5;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.nav__list {
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.nav__item {
  margin-right: 40px;
}

.nav__link {
  padding: 10px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover {
  color: #91ff6f;
}

.main {
  background-color: rgb(228, 243, 229);
}

/* Премьера */

.premier {
  display: flex;
  margin-bottom: 50px;
}

.premier__title {
  text-align: center;
  padding: 20px;
}

.premier__texts {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}

.premier__description {
  margin-top: 15px;
  margin-bottom: 15px;
}

.video__btn {
  padding: 5px 20px;
  border-radius: 15px;

  color: white;
  background-color: rgb(226, 31, 31);
}

/* Сегодня в кино */

.today {
  max-width: 1000px;
}

.today__title {
  padding: 20px;
}

.today__film {
  margin-bottom: 30px;
  display: flex;
}

.today__texts {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}

.input {
  height: 29px;
}

.input::placeholder {
  text-align: center;
}

.send__btn {
  padding: 8px 20px;
}

/* Таблица */

.table {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table__title {
  padding: 20px;
}
